.top {
  text-align: center;
  color: white;
  padding-top: 50px;
}
.mouseClick{
	cursor: pointer;
  margin-left: 50%;
  padding-top: 140px;
}
header {
  background-image: url("../img/header.jpg"); height: 700px;
  background-size: cover;
}
.logo {
  text-align: center;
  padding-top: 200px;
}
.about {
  text-align: center;
  padding-top: 30px;
}
.service {
  text-align: center;
  padding-top: 90px;
  color: white;
}
.services {
  background-image: url("../img/s_image.jpg"); height: 300px;
  margin-top: 50px;
  background-size: cover;
}
#design {
  display: none;
}
.design-showing {
display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}
.container {
  text-align: center;
  margin-top: 40px;
}
#development {
  display: none;
}
.development-showing {
display: none;
}
.click {
  cursor: pointer;
  color: #0088cc;
}
#product-management {
  display: none;
}
.product-management-showing {
display: none;
}
.clic {
  cursor: pointer;
  color: #0088cc;
}
.col-md-3 {
  text-align: center;
  margin-top: 50px;
  padding-right: 0px;
  padding-left: 0px;
}
#work1 {
  padding: 5px;
  height: 200px;
  width: 280px;
  cursor: pointer;
  color: #0088cc;
}
#work2 {
  padding: 5px;
  height: 200px;
  width: 280px;
  cursor: pointer;
  color: #0088cc;
}
#work3 {
  padding: 5px;
  height: 200px;
  width: 280px;
  cursor: pointer;
  color: #0088cc;
}
#work4 {
  padding: 5px;
  height: 200px;
  width: 280px;
  cursor: pointer;
  color: #0088cc;
}
#work5 {
  padding: 5px;
  height: 200px;
  width: 280px;
  cursor: pointer;
  color: #0088cc;
}
#work6 {
  padding: 5px;
  height: 200px;
  width: 280px;
  cursor: pointer;
  color: #0088cc;
}
#work7 {
  padding: 5px;
  height: 200px;
  width: 280px;
  cursor: pointer;
  color: #0088cc;
}
#work8 {
  padding: 5px;
  height: 200px;
  width: 280px;
  cursor: pointer;
  color: #0088cc;
}
.portfolio {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
}

.row-1 {
  display: flex;
  flex-direction: row;
}

.row-3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;

}
